<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wikex.wikex.earn.mapper.LockedSavingsStatisticMapper">

    <update id="increaseNum">
        update locked_savings_statistic s set s.num = s.num + #{amount} where s.id= #{id}
    </update>
    <update id="decreaseNumAndIncreaseEarnNum">
        update locked_savings_statistic s
        set s.num=s.num - #{amount},s.earn_num=s.earn_num + #{earnNum}
        where s.id = #{id} and s.num &gt;= #{amount}
    </update>
</mapper>
